.background{
    background: url(/assets/auth/login/background.jpg) center center/cover no-repeat fixed;
    height: 100%;
    width: 100%;
}

.mat-card-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mat-card-title{
    cursor: pointer;
}